$normal_border: 1px solid #181818;
body {
  background: mediumturquoise;
}

input::focus {
    outline: none;
}

li::hover {
    text-decoration: line-through;
}

.wrapper {
    margin: 50px auto;
    padding: 50px;
    width: 500px;
    background:#fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.199);
}

#input-todo {
    border: 0;
    border-bottom: $normal_border;
    margin: 30px 0px;
    width: 500px;
    height: 60px;
    font-size: 30px;
}

.todolist {
    font-size: 40px;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1px solid #181818;
    transition: all .3s;
    .BtnTodo-Delete {
        display: none;
        float: right;
        margin: 0;
        padding: 0;
        background: none;
        border: 0;
        font-size: 30px;
        cursor: pointer;
    }
    &:hover {
        background: #d6d6d66b;
        & .BtnTodo-Delete {
            display: inline;
        }
    }
}

#input-todo:focus {
    outline: none;
}

.checkBox {
    width: 50px;
    font-size: 50px;
    vertical-align: middle;
    cursor: pointer;
    &::before {
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 5px solid rgb(42, 158, 100);
        top: -15px;
        border-radius: 20px;
        background: #fff;
    }
    &:checked::before {
        content: "✔️";
        font-size: 20px;
        background: #fff;
    }
}

#todo-list {
    margin: 0 auto;
    width: 500px;
}

.utilBtns {
    margin: 20px 0px;
    button {
        position: relative;
        margin: 0px 10px;
        padding: 5px 10px;
        font-size: 30px;
        border: $normal_border;
        cursor: pointer;
        box-shadow: 5px 5px 0px #000;
        &#Btn_select-All {
            background: none;
        }
        &#Btn_select-Delete {
            background: none;
        }
        &:focus {
            outline: none;
        }
        &:active {
            top: 6px;
            left: 6px;
            box-shadow: 0px 0px 0px #000;
            background: #ff0;
        }
    }
}