/* You can add global styles to this file, and also import other style files */
body {
  color: #58666e;
  background-color: #f0f3f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-muted {
  color: #98a6ad;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: none !important;
}
.title{
  position: relative;
}
.Custom_tooltip{
  position: absolute;
  width: 100%;
  padding: 10px;
  background: #aaa;
  border-radius: 10px;
  color:#fff;
  font-size:14px;
  animation: fadeIn .5s;
  word-wrap: break-word;
}
.Custom_tooltip.fadeOut{
  animation: fadeOut .5s;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.Custom_tooltip:before{
  content:"";
  display: block;
  position: absolute;
}
.tooltip-left .Custom_tooltip:before{
    border-left: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    right: -10px;
    top: 15px;
}
.tooltip-right .Custom_tooltip:before{
    border-right: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    left: -10px;
    top: 15px;
}
.tooltip-top .Custom_tooltip:before{
    border-top: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    bottom: -10px;
}
.tooltip-bottom .Custom_tooltip:before{
    border-bottom: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: -10px;
}

.box_cont{
  margin:50px 0px;
}
.box{
  position:relative;
  display:inline-block;
  width:100px;
  height:100px;
  margin:10px 20px;
  background: gray;
}
.i-checks {
  width: 94%;
  padding-left: 35px;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
}

.i-checks>input[type=checkbox] {
  display: none;
}

.i-checks>i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 5px;
  margin-left: -20px;
  background-color: #fff;
  border: 1px solid #cfdadd;
  vertical-align: middle;
}

.i-checks>i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: all .1s;
}

.i-checks input:checked+i:before {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #23b7e5;
}

