<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1 class="title">Todos</h1>
      <ng-container *ngIf="todoService.todos">
        <app-todo-form></app-todo-form>

        <app-todo-nav
          [navItems]="navItems"
          [selectedNavItem]="selectedNavItem"
          (selectFilter)="setCurrentNavItem($event)"></app-todo-nav>

        <app-todo-list
          [selectedNavItem]="selectedNavItem"
          (removeTodo)="removeTodo($event)"
          (toggleComplete)="toggleComplete($event)"
        ></app-todo-list>

        <app-todo-footer></app-todo-footer>
        </ng-container>
      </div>
    </div>
  </div>

