<div class="col-xs-6">
  <label class="i-checks" style="padding-left: 20px">
    <input type="checkbox" (change)="AllCompleted($event.target.checked)">
    <i></i>
    <span>Mark all as complete</span>
  </label>
</div>
<div class="col-xs-6 text-right">
  <button class="btn btn-default btn-xs" (click)="removeCompleted()">
    Clear completed (
    <span>{{CntCompleted}}</span>)
  </button>
  <strong>{{CntActive}}</strong>
  {{ CntActive > 1 ? 'items' : 'item' }} left
</div>
<div class="col-md-12" style="margin-top: 30px">
  <pre>{{todos | json}}</pre>
</div>
